h1{
    margin-bottom: 5%;
}

label{
    text-align: right;
    width: 250px;
    margin: 20px;
}

.btn-passwordchange{
    width:25%;
    height:50px;
    display:block;
    position:relative;
    z-index:1;
    border-radius:25px;
    overflow:hidden;
    margin:0 15%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding-top:13px;
    font-family: poppins-bold;
    font-size:15px;
    font-style: bold;
    line-height:1.2;
    text-transform:uppercase;
    align-items:center;
    background-color: #C4E6FF;
  }

.form-container{
    width:70%;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    padding:20px 45px;
    text-align: left;
    margin-top: 2%;
    margin-left: 20%;
}

.form-control{
    border-bottom:2px solid #adadad;
    margin-bottom:10px;
    font-size:20px;
    color:#555;
    width:30%;
    height:35px;
    background:0 0;
    padding: 5px;
    align-self: flex-end;
    align-content: flex-end;
  }

.form-group{
    height: 80px;
    padding-left: 5%;
    margin: 25px;
    vertical-align: middle;
    display: flex; 
    align-items: center;
}

.invalid-feedback{
    margin-left:10px;
    color:#ff88ac;
  }
  

.ng-invalid:not(form)  {
    border-left: 5px solid #ff88ac; /* red */
}
  