<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
					<img src="assets/img/logo.png" alt="" width="130" height="auto">
					<br>
					<a>Enterate de nuestras promociones, obtén descuentos exclusivos y mucho mas…</a>
                    <form>
                        <input class="input" type="email" placeholder="Ingrese su correo electronico">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Conocenos</h3>
								<ul class="footer-links">
									<li><a href="#">Acerca de nosotros</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Ayuda</h3>
								<ul class="footer-links">
									<li><a href="#">Contactanos</a></li>
									<li><a href="#">Preguntas frecuentes</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Enlaces rápidos</h3>
								<ul class="footer-links">
									<li><a href="#">Promociones y cupones</a></li>
									<li><a href="#">Política de privacidad</a></li>
									<li><a href="#">Terminos & condiciones</a></li>
									<li><a href="#">Pedidos y devoluciones</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados para Cutie Plushie
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->