<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">¡Bienvenido!
                        <img height="120px" alt="Logo" src="assets/images/cutie_plushie_logo.png"/>
                    </div>
                    <div class="card-body">
                        <form action="" method="">
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <span class="input-group"><i class="fas fa-user"></i></span>
                                    <input type="text" id="loginEmail" class="form-control" name="email-address" required autofocus placeholder="Correo Electronico">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-7">
                                    <span class="input-group"><i class="fas fa-unlock"></i></span>
                                    <input id="loginPassword" type="password" class="form-control" name="password" value="" placeholder="Contraseña"> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group form-check">
                                        <a class="nav-link" [routerLink]="['/recover-password']">Olvidaste tu contraseña</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group form-check">
                                        <a class="nav-link" [routerLink]="['/register']">Registrarte</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="1" class="form-control btn btn-register" value="Iniciar Sesion">
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
