<!-- HEADER -->
<header>
    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- LOGO -->
          <div class="col-md-3">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                <img src="" alt="Cutie Plushie">
              </a>
            </div>
          </div>
          <!-- /LOGO -->
  
          <!-- SEARCH BAR -->
          <div class="col-md-6">
            <div class="header-search">
              <form>
                <input class="input" placeholder="Buscar">
                <button class="search-btn">Buscar</button>
              </form>
            </div>
          </div>
          <!-- /SEARCH BAR -->
  
          <!-- ACCOUNT -->
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <!-- USER ACCOUNT -->
              <div class="col-md-6">
                <div class="header-search">
                  <form>
                    <select class="input-select">
                      <option value="0">MXN</option>
                      <option value="1">USD</option>
                    </select>
                  </form>
                </div>
              </div>
              <!-- /USER ACCONT -->
  
             
            </div>
          </div>
          <!-- /ACCOUNT -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->
  
  <!-- NAVIGATION -->
  <nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav py-3">
          <li class="active"><a href="#">Categorias</a></li>
          <li><a href="#">Lo más nuevo</a></li>
          <li><a href="#">Lo mas popular</a></li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
  </nav>
  <!-- /NAVIGATION -->
  