<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">¡Bienvenido!
                        <img src="" alt="mapache">
                    </div>
                    <div class="card-body">
                        <form action="" method="">
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <span class="input-group"><i class="fas fa-user"></i></span>
                                    <input type="text" id="recoverEmail" class="form-control" name="email-address" required autofocus placeholder="Correo Electronico">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="1" class="form-control btn btn-register" value="Recuperar contraseña">
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
