<!--CATEGORIAS-->
<h1>Categoria</h1>
<br>
<mat-grid-list cols="4" rowHeight="2:1.5">
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
</mat-grid-list>
<button>Ver mas</button>
<!--/CATEGORIAS-->