<!--HOME-->
<br>
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="">
    </mdb-carousel-item>
  </mdb-carousel>
  

<mat-grid-list cols="4" rowHeight="2:1.5">
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
  <mat-grid-tile><mat-card>
    <img mat-card-image src="dfg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Descripcion</p>
        <p>Precio</p>
        <p>Descuento</p>
  </mat-card-content>
  </mat-card></mat-grid-tile>
</mat-grid-list>
<button>Ver mas</button>
<!--HOME-->