h1{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 20%;
}

mat-form-field {
    font-size: 18px;
    width: 75%;
    margin-left: 5%;
}

mat-paginator{
    width: 95%;
}

table {
    width: 90%;
    margin: auto;
}

th{
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.btn-create{
    width: 10%;
    height:30px;
    border-radius:25px;
    justify-content:center;
    font-family: poppins-bold;
    font-size:14px;
    line-height:1.2;
    text-transform:uppercase;
    align-items:center;
    background-color: #CBFBEF;
    margin-left: 5%;
}

.btn-delete{
    width: 40%;
    height:30px;
    border-radius:25px;
    justify-content:center;
    font-family: poppins-bold;
    font-size:14px;
    line-height:1.2;
    text-transform:uppercase;
    align-items:center;
    background-color: #FFCDDC;
    margin-right: 10px;
}

.btn-edit{
    width: 40%;
    height:30px;
    border-radius:25px;
    justify-content:center;
    font-family: poppins-bold;
    font-size:14px;
    line-height:1.2;
    text-transform:uppercase;
    align-items:center;
    background-color: #C4E6FF;
}

.filter-box{
    width: 75%;
    font-size:20px;
    color:#555;
    height:35px;
    align-self: flex-end;
    align-content: flex-end;
}

td{
    padding: 15px;
}

.mat-column-actions{
    width: 15%;
}

.mat-column-productDescription{
    width: 40%;
}

.table-container{
    margin: auto;
    width: 90%;
}