<div class="form">
    <h1 mat-dialog-title *ngIf="formType == 'Create'">Agregar proveedor</h1>
    <h1 mat-dialog-title *ngIf="formType == 'Update'">Actualizar proveedor</h1>
    <form [formGroup]="supplierForm">
        <div class="form-group">
            <label for="supplierName">Nombre del proveedor*</label>
            <input type="text" formControlName="supplierName" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  supplierForm.controls.supplierName.invalid }" />
            <div *ngIf="submitted &&  supplierForm.controls.supplierName.invalid" class="invalid-feedback">
                <div *ngIf="submitted && supplierForm.controls.supplierName.errors.required">Por favor ingrese el nombre</div>
            </div>
        </div>
        <div class="form-group">
            <label for="supplierContactName">Nombre del contacto*</label>
            <input type="text" formControlName="supplierContactName" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  supplierForm.controls.supplierContactName.invalid }" />
            <div *ngIf="submitted &&  supplierForm.controls.supplierContactName.invalid" class="invalid-feedback">
                <div *ngIf="submitted && supplierForm.controls.supplierContactName.errors.required">Por favor ingrese el nombre del contacto</div>
            </div>
        </div>
        <div class="form-group">
            <label for="supplierPhoneNumber">Teléfono*</label>
            <input type="text" formControlName="supplierPhoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  supplierForm.controls.supplierPhoneNumber.invalid }" />
            <div *ngIf="submitted &&  supplierForm.controls.supplierPhoneNumber.invalid" class="invalid-feedback">
                <div *ngIf="submitted && supplierForm.controls.supplierPhoneNumber.errors.required">Por favor introduzca el teléfono</div>
                <div *ngIf="submitted && supplierForm.controls.supplierPhoneNumber.errors.minLength">Número telefónico inválido, debe ser de 10 dígitos</div>
                <div *ngIf="submitted && supplierForm.controls.supplierPhoneNumber.errors.maxLength">Número telefónico inválido, debe ser de 10 dígitos</div>
            </div>
        </div>
        <div class="form-group">
            <label for="supplierMail">Correo electrónico*</label>
            <input type="text" formControlName="supplierMail" class="form-control" [ngClass]="{ 'is-invalid': submitted &&  supplierForm.controls.supplierMail.invalid }" />
            <div *ngIf="submitted &&  supplierForm.controls.supplierMail.invalid" class="invalid-feedback">
                <div *ngIf="submitted && supplierForm.controls.supplierMail.errors.required">Por favor introduzca un correo electrónico</div>
                <div *ngIf="submitted && supplierForm.controls.supplierMail.errors.email">Por favor introduzca una dirección válida</div>
            </div>
        </div>
        <div class="form-buttons">
            <button (click)="createSupplier()" class="btn-create" *ngIf="formType == 'Create'">Agregar</button>
            <button (click)="updateSupplier()" class="btn-update" *ngIf="formType == 'Update'">Actualizar</button>
            <button (click)="closeDialog()" class="btn-cancel">Cancelar</button>
          </div>
    </form>
    
</div>

